<div class="container-fluid">
    <div class="box-1">

        <div class="top-txt">
            <div>
                <p>100% Job Guarantee <br>  within 45 days</p>
            </div>
        </div>

        <div class="steps">
            <img class="img-1" src="../../../assets/Imgg/godbetbest (2).jpg">
        </div>
    </div>

    <div class="container f-txt">
        <p class="txt">Building a long-lasting and trustworthy career in the technical world is not everyone's job.
            Imagine having all the required knowledge to clear the technical certification
            examinations but not having the proper guidance on how to get 100% job guarantee.
            We are here to walk you through some of the major queries of the technical students who
            wish to get a job in the IT industry.
        </p>
        <br>
        <p class="txt">
            If you are someone who is looking for the 100% job guarantee course, you are at the right platform.
            We take a very good care of the large student base we have created.
            We cannot let their courses go waste.
        </p>

    </div>


    <div>
        <div class="yellow-txt">
            <div>
                <p>Some of the highlighting features of our <br> 100% job guaranteed course</p>

            </div>
        </div>

        <div class="design">

        </div>
    </div>


    <div class="container points">
        <p class="bold"> <i class="fa fa-arrow-right"></i> Placement only in MNC's like Wipro, Accenture, TCS, Infosys,
            L&T,
            Capgemini, Congnizant, Virtusa.</p>
        <p> <i class="fa fa-arrow-right"></i> Get guaranteed placement within 45 days of joining the course.</p>
        <p class="bold"> <i class="fa fa-arrow-right"></i> Fees to be paid ONLY AFTER you get the Offer Letter in your
            hands.</p>
        <p> <i class="fa fa-arrow-right"></i> Industry-experienced trainers with 20+ years of experience.</p>
        <p> <i class="fa fa-arrow-right"></i> Training to match company requirements with practical assessments. </p>
        <p> <i class="fa fa-arrow-right"></i> Avail the important soft skills and interview cracking techniques.</p>
        <p> <i class="fa fa-arrow-right"></i> Special job placement cell. </p>
        <p> <i class="fa fa-arrow-right"></i> Industry in-demand courses giving job guarantee. </p>
        <p> <i class="fa fa-arrow-right"></i> Live interactive classes with special job guarantee dedicated sessions.
        </p>
    </div>

    <br>

    <div class="container para">
        <p class="txt">
            Whether a candidate is from IT Background or Non IT background
            (BE (any branch) / B Tech (any branch)/ BCA / BSc (Computers)) completed during the period 2016-2022,
            at Savita Soft our customized courses and innovative training methods make sure everyone is employable.
            Savita Soft offers 100% job placement guarantee only in MNC companies like Wipro, Accenture, TCS,
            Infosys, L&T, Capgemini, Congnizant, Virtusa.
        </p>
        <img class="png" src="../../../assets/Imgg/IMG_20230713_124148-removebg-preview.png">
    </div>



    <div class="J-container">

        <div>
            <div class="yellow-txt">
                <div>
                    <p class="cr-name">Java FullStack curriculum</p>

                </div>
            </div>

            <div class="design2">

            </div>
        </div>


        <div class="container">
            <ul>
                <h3>
                    <li>Core Java - Basics</li>
                </h3>
                <ol>
                    <li>Fundamentals Of Java, Setting up Env & IDE</li>
                    <li>JDK, JRE, JVM</li>
                    <li>Classes, Objects, Methods, Constructors, Identifiers, </li>
                    <li>Data types, Wrapper class, Autoboxing, unboxing, String, StringBufffer and String Manipulation,
                        Date time formatter, Loops, Arrays, Annotations</li>
                    <li>Equals & Hashcode, other Object class method,</li>
                    <li>Interface vs abstract class, Access modifiers, PSVM,</li>
                    <li>Interfaces, Marker Interface, Functional Interface, Nested Interface</li>
                    <li>OOPs, Inheritence, Polymorphism, Abstraction, Encapsulation, Overloading, Overiding</li>
                    <li>Exception Handling, try with resources</li>
                    <li>Input Output steams, java.io , Scanner, File IO,</li>
                    <li>Serialization, Deserialization, externalization</li>
                    <li>Garbage collector, Memory management, mark and sweep etc</li>
                    <li>Data Structures, Algorithms, Logic Building</li>
                    <li>Collectiion Framework</li>
                    <li>Continuation of advanced Collections framework</li>
                    <li>Maps and Iterators,Reflection API, Custom Annotations,RX Java</li>
                    <li>Practice Lab</li>
                </ol>

                <h3>
                    <li>Core Java - Advanced</li>
                </h3>
                <ol>
                    <li>UML Diagrams</li>
                    <li>Clean Code using SOLID Design Principles</li>
                    <li>Practice Lab</li>
                    <li>Thread, Runnable, Callable,executable service Future</li>
                    <li>Synchronization using syncronized method, blocks & Locks</li>
                    <li>Multithreading, </li>
                    <li>Exectors Framework</li>
                    <li>JAVA Generics</li>
                    <li>Java 8 concepts and additions</li>
                    <li>Java 9 and 11 additions</li>
                </ol>

                <h3>
                    <li>Core Java - Adv. DS, Algo</li>
                </h3>
                <ol>
                    <li>Basics of Data structure</li>
                    <li>Linked list design in java, circular LL, doubly LL, and queue, reversing a linked list</li>
                    <li>Time complexity, space complextity, cyclomatic comlexity, optimized code</li>
                    <li>Practice Lab using java 8</li>
                    <li>Few Important Algorithms</li>
                    <li>Bubble Sort, Merge Sort, Quick Sort, Heap Sort</li>
                    <li>Linear search, binary search,</li>
                    <li>Practice Lab</li>
                </ol>

                <h3>
                    <li>Java Design Patterns</li>
                </h3>
                <ol>
                    <li>Revision of Arrays & Collections with advanced information and internal design and working</li>
                    <li>Types of Design Patterns with Implementation and purpose of each type + immutable clasess,
                        singleton classes, custom hash maps</li>
                    <li>Logical coding questions</li>
                    <li>Continuation of Design Patterns adopter builder</li>
                    <li>Assigment in DS and Algo using Java 8 and design patterns</li>
                </ol>

                <h3>
                    <li>Database - SQL, NoSQL</li>
                </h3>
                <ol>
                    <li>Setting up DB andhands on the IDE</li>
                    <li>Sql basics + advanced</li>
                    <li>Connection and Database Security Fundamentals</li>
                    <li>Sql Practice session</li>
                    <li>create table in DB and run querries</li>
                    <li>NoSql Fundamentals</li>
                    <li>Setting Up Mongo DB /IDE</li>
                    <li>Basic Querries</li>
                    <li>Advanced NoSql querries(Aggregation etc)</li>
                    <li>NOSQL Assignment</li>
                </ol>

                <h3>
                    <li>Java Frameworks</li>
                </h3>
                <ol>
                    <li>Introduction to Spring, Spring MVC, servlets, ec and their need</li>
                    <li>DI, CI, SI concepts, Autowiring</li>
                    <li>Spring AOP, Global exception handling</li>
                    <li>Spring ORM, Hibernate, JPA</li>
                    <li>Sppring MVC</li>
                    <li>Spring Security,jms,scheduler</li>
                    <li>Practice Lab JAVA app with CRUD + other operations on the DB with native query, JPA, Hiberanate
                        using Nosql(MongoDB) and SQL(Mysql)</li>
                    <li> basic deployment script using gitlab-ci.yml and cloud platforms preferably PCF</li>
                    <li>Spring Cloud(PCF)</li>
                    <li>ways to create spring boot app</li>
                    <li>Cover Spring & Springboot annotations</li>
                </ol>

                <h3>
                    <li>REST API</li>
                </h3>
                <ol>
                    <li>SOAP vs REST, Concepts and guidelines of writing APIs</li>
                    <li>RESTful Web Services in Details</li>
                    <li>Practice Lab Continuation : with springBoot app</li>
                    <li>Calling rest end points using restTemplate & FeignClient, Springboot actuators, AOP</li>
                    <li>Practice Lab Continuation : with springBoot app</li>
                </ol>

                <h3>
                    <li>Microservices</li>
                </h3>
                <ol>
                    <li>SOA vs Microservice/Microservice </li>
                    <li>Service registry and discovery, APIGateway, Load balancing, Circuit breaker Pattern with
                        implementation,(Hystrix)</li>
                    <li>Practice Lab Continuation : with springBoot app</li>
                </ol>

                <h3>
                    <li>Microservices -Security</li>
                </h3>
                <ol>
                    <li>SpringBoot Security, Authorization and Authentication, OAuth2</li>
                    <li>Intro duction, Microservice Design Patterns : Decomposition, SAGA etc</li>
                    <li>Practice Lab :Microservice Components with Authentication in Gateway</li>
                </ol>

                <h3>
                    <li>JSM, Kafka</li>
                </h3>
                <ol>
                    <li>Introduction to Messaging Queues and async mode of communication</li>
                    <li>Kafka Basics</li>
                    <li>Setting up kafka</li>
                    <li>Kafka clusters</li>
                    <li>RabbitMQ</li>
                    <li>Writing consumer or Procedure with kafkaTemplate & JMS</li>
                    <li>Practice Lab for Kafka</li>
                    <li>Configuring Kafka topic in Spring Boot App with Kafka Template & JMS</li>
                    <li>Internationalization(I-18)</li>
                    <li>Adding application.properties in Config Server</li>
                </ol>

                <h3>
                    <li>Practice - Collection Framework</li>
                </h3>
                <ol>
                    <li>Revision of Collections Framework/Core Java/Quiz</li>
                    <li>Multi threading Revision</li>
                    <li>Adding logger(log4j)</li>
                </ol>

                <h3>
                    <li>UI, UX</li>
                </h3>
                <ol>
                    <li>Introduction to Javascript/typescript</li>
                    <li>Basics of HTML & CSS</li>
                    <li>Javascript datatypes, arrays</li>
                    <li>Practice lab : UI</li>
                </ol>

                <h3>
                    <li>Angular</li>
                </h3>
                <ol>
                    <li>Introduction Angular </li>
                    <li>Environment & Project Setup</li>
                    <li>Components,Module,</li>
                    <li>Data & Event Binding</li>
                    <li>Pipes</li>
                    <li>Routing</li>
                    <li>Services</li>
                    <li>Http Service/Http Client</li>
                    <li>Creating Custom Directives and Regex</li>
                    <li>Design Front end</li>
                    <li>Calling backend service throgh API Gateway</li>
                    <li>Pagination</li>
                </ol>

                <h3>
                    <li>Advanced Topics</li>
                </h3>
                <ol>
                    <li>Advanced topics & RxJs</li>
                    <li>Practice Lab : End to End Fullstack Development</li>
                    <li>More on CSS</li>
                </ol>

                <h3>
                    <li>Project Work</li>
                </h3>
                <ol>
                    <li>Final Project Development - Practical Assignment </li>
                </ol>
            </ul>
        </div>

    </div>

</div>